[submodule "themes/NexT"]
  path = themes/NexT
  url = https://github.com/MohanWang1/myblog_NexT.git
[submodule "themes/butterfly"]
  path = themes/butterfly
  url = https://github.com/MohanWang1/myblog_butterfly.git